#main-container.container
  %h1 Payments
  
  != php "if(isset($remind_nonpaid)){"
  .alert.alert-success
    %strong
      Successfully sent reminder to
      != say("$remind_nonpaid->email")
      for month of
      != say("$remind_nonpaid_month")
  != php "}"
  %button#add-payment.btn.btn-info{'data-toggle' => 'modal', 'data-target' => '#pay-modal'} Add (Manual) Payment
  %table.table.table-hover
    %thead
      %th Name
      %th Email
      %th Paid On
      %th Amount
    %tbody
      :php
        foreach($payments as $payment){
          if($payment['user_id'] == 0 or $payment['user_id'] == null){
            $member = array('first_name' => 'Guest', 'last_name' => $payment['guest_name'], 'email' => '');
          } else {
            $member = $members_map[$payment['user_id']];
            if(!$member){ continue; }
          }
      %tr
        %td
          != say("$member['first_name'] . ' ' . $member['last_name']")
        %td
          != say("$payment['email']")
        %td
          != say "$payment['paid_on']"
        %td
          != say "'$' . ($payment['amount']/100)"
      
      != php "}"
        
  %h1 Members that have not paid in the last 30 days
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Email
    %tbody
      :php
        foreach($non_paid_ids as $non_paid_id){ 
          $member = $members_map[$non_paid_id];
          if(!$member){ continue; }
      %tr
        %td
          != say "$member['first_name'] . ' ' . $member['last_name']"
        %td
          != say "$member['email']"
        %td
          %a.btn.btn-primary{:href => "/members/memberships/remind_nonpaid?user_id=#{say "$member['id']"}&month=#{say "date('F Y', time()-2628000)"}"}
            Send payment reminder email for
            != say "date('F Y', time()-2628000)"
      
      != php "}"
      
!= partial('pay.php')

