#main-container.container
  %h1 Key Holders
  
  %button.btn.btn-primary(type="button" data-toggle="modal" data-target="#add-keyholder") Add Keyholder
  
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Keycode
        %th Person
        %th Start
        %th End
    %tbody
      <?php foreach($this->data->keyholders AS $keyholder){ ?>
      %tr
        %td!= say "$keyholder['id']"
        %td!= say "$keyholder['keycode']"
        %td!= say "$keyholder['person']"
        %td!= say "$keyholder['start_at'] ? date('F d, Y', $keyholder['start_at']) : ' '"
        %td!= say "$keyholder['end_at'] ? date('F d, Y', $keyholder['end_at']) : ' '"
      <?php } ?>
  
  != php "$keyholder_redirect = '/members/keyholders';"
  
  != partial('add_keyholder')
