#main-container.container
  != php "if($this->data->reset_email){"
  .row
    .col-md-12
      %h1 Reset Email sent
      %p
        Please check your inbox
        != say '"(" . $this->data->reset_email . ") "'
        for a reset email.
      %p If you did not receive an email, contact a MagLaboratory administrator.
  != php "} elseif($this->data->reset_user) {"
  .row
    .col-md-12
      %h1 Reset Password
      %form.form-horizontal#reset-password(action="/members/reset_password" method="post")
        .form-group
          %label.col-sm-2.control-label(for="confirm_email") Confirm Email
          .col-sm-10
            %input#confirm_email.form-control(name="confirm_email" type="email")
            %p.help-block
              This is the same email you used to request the password reset. It will not complete the password reset process if it is wrong.
              %br
              Make sure it's correct because, for security purposes, we will not show an error if it's wrong.
        .form-group
          %label.col-sm-2.control-label(for="new_password") New Password
          .col-sm-10
            %input#new_password.form-control(name="new_password" type="password" placeholder="******")
        .form-group
          %label.col-sm-2.control-label(for="confirm_password") Confirm Password
          .col-sm-10
            %input#confirm_password.form-control(type="password" placeholder="******")
            #error-pw-match.hide.alert.alert-danger(role="alert")
              %span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
              %span.sr-only Error:
              Password Confirmation does not match password.
        .form-group
          .col-sm-offset-2.col-sm-10
            %input(type="hidden" name="_METHOD" value="PUT")
            %input{:type => "hidden", :name => "now", :value => say('$now')}
            %input{:type => "hidden", :name => "reset_code", :value => say('$reset_code')}
            %button.btn.btn-primary(type="submit") Reset Password
    :javascript
      $(function(){
        $('#reset-password').on('submit', function(e){
          if($('#new_password').val() != $('#confirm_password').val()){
            $('#error-pw-match').removeClass('hide');
            e.preventDefault();
          } else {
            $('#error-pw-match').addClass('hide');
          }
        });
      });
  != php "} elseif($this->data->completed_reset){"
  .row
    .col-md-12
      %h1 Password Reset Complete
      %p
        Your password has been reset. 
        You can now
        %a(href="/members/login") login with your new password.
  != php "} else {"
  .row
    .col-md-12
      %h1 Forgot Password
      %p If you don't remember the email address you used, contact a MagLaboratory administor.
      != php "if($this->data->reset_expired){"
      .alert.alert-danger(role="alert")
        %strong Reset Code Expired!
        The reset code has expired. Please try again.
      != php "}"
  .row
    .col-md-12
      %form.form-horizontal(action='/members/forgot_password' method='post')
        .form-group
          %label.col-sm-2.control-label{:for => 'email'} Email
          .col-sm-10
            %input#email.form-control{:type => 'email', :placeholder => 'you@maglaboratory.org', :name => 'email'}
        .form-group
          .col-sm-offset-2.col-sm-10
            %button.btn.btn-default{:type => 'submit'} Reset Password
  != php "}"
