#main-container.container
  != php "if(isset($createdWikiUser) and $createdWikiUser == 1){"
  %h1 Create Wiki User
  .alert.alert-success
    %strong Created Wiki Account!
    %p
      You can now login to your account at the
      %strong
        %a(href="/wiki") wiki
  != php "} elseif(empty($user->wikiusername)){"
  %h1 Create Wiki User
  %p
    Due to spam bots, we have to restrict wiki registration to members and guests only.
    Create your wiki account using the form below. It will be permanently tied to this maglab account.
    If you have guests that want wiki access, give them an invite so they can create their own.
  %p
    Remember: Stuff you put on the wiki will be public. And will be marked under the wiki username. This is separate from the profile information below.
  != php "if(isset($createdWikiUser) and $createdWikiUser == 0){"
  .alert.alert-warning
    %strong Failed to create account.
    Sorry, something went wrong and we couldn't create the account. Try again later?
  != php "}"
  %form.form-horizontal(action="/w/createWikiUser.php" method="post" autocomplete="off")
    .form-group
      %label.col-sm-2.control-label(for="wiki_email") Email
      .col-sm-10
        %input#wiki-email.form-control{type:"email", name:"wiki_email", value: echo("filter_email($user->email, true)")}
    .form-group
      %label.col-sm-2.control-label(for="wiki_username") Username
      .col-sm-10
        %input#wiki-username.form-control(type="text" name="wiki_username" placeholder="SirWeldAlot" autocomplete="off" value="")
    .form-group
      %label.col-sm-2.control-label(for="wiki_password") Password
      .col-sm-10
        %input#wiki-password.form-control(type="password" name="wiki_password" placeholder="p00pscooper" autocomplete="off" value="")
    .form-group
      .col-sm-10.col-sm-offset-2
        %button.btn.btn-primary(type="submit") Create Wiki Account
  != php "}"

  %h1 Profile
  %p The profile information below is for recordkeeping and maglab usage only. And will be kept mostly private. (This is separate from public information on the wiki.) The emergency contact is kinda important...
  != php "if($this->data->info_success){"
  .alert.alert-info.alert-dismissible.fade.in(role="alert")
    %button.close(type="button" data-dismiss="alert" role="alert" aria-label="Close")
      %span(aria-hidden="true") x
    %strong Success!
    Successfully updated your profile info.
  != php "} else if(isset($this->data->info_success)){"
  .alert.alert-warning.alert-dismissible.fade.in(role="alert")
    %button.close(type="button" data-dismiss="alert" role="alert" aria-label="Close")
      %span(aria-hidden="true") x
    %strong Failed.
    Failed to update your profile info? huh...that's weird.
  != php "}"
  %form.form-horizontal(action="/members/me" method="post")
    .form-group
      %label.col-sm-2.control-label(for="email") Email
      .col-sm-10
        %input.form-control#user_email{type:"email", name:"email", value: echo("filter_email($this->data->user->email, true)")}
    .form-group
      %label.col-sm-2.control-label(for="first_name") First Name
      .col-sm-10
        %input.form-control#user_first_name{type:"text", name:"first_name", value: say("$this->data->user->first_name")}
    .form-group
      %label.col-sm-2.control-label(for="last_name") Last Name
      .col-sm-10
        %input.form-control#user_last_name{type:"text", name:"last_name", value: say("$this->data->user->last_name")}
    .form-group
      %label.col-sm-2.control-label(for="main_phone") Main Phone
      .col-sm-10
        %input.form-control#user_main_phone{type:"tel", name:"main_phone", value: say("$this->data->user->main_phone")}
    .form-group
      %label.col-sm-2.control-label(for="emergency_phone") Emergency Phone
      .col-sm-10
        %input.form-control#user_emergency_phone{type:"tel", name:"emergency_phone", value: say("$this->data->user->emergency_phone")}
    .form-group
      %label.col-sm-2.control-label Wiki Username
      .col-sm-10
        != php "if(empty($user->wikiusername)){"
        %i Not yet created.
        != php "} else {"
        %strong!= say "$user->wikiusername"
        != php "}"
    .form-group
      %label.col-sm-2.control-label(for="interests") Interests / Skills
      .col-sm-10
        TODO
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default(type="submit") Save Changes
  
  %h2 Change Password
  
  != php "if($this->data->pw_success){"
  .alert.alert-info.alert-dismissible.fade.in(role="alert")
    %button.close(type="button" data-dismiss="alert" role="alert" aria-label="Close")
      %span(aria-hidden="true") x
    %strong Success!
    Successfully updated your profile info.
  != php "} else if(isset($this->data->pw_success)){"
  .alert.alert-warning.alert-dismissible.fade.in(role="alert")
    %button.close(type="button" data-dismiss="alert" role="alert" aria-label="Close")
      %span(aria-hidden="true") x
    %strong Failed.
    Failed to update your password. Check your current password and make sure the confirmation matches the new password.
  != php "}"
  %form.form-horizontal(action="/members/me" method="post")
    .form-group
      %label.col-sm-2.control-label(for="current_password") Current Password
      .col-sm-10
        %input.form-control#current_password(type="password" name="current_password")
    .form-group
      %label.col-sm-2.control-label(for="new_password") New Password
      .col-sm-10
        %input.form-control#current_password(type="password" name="new_password")
    .form-group
      %label.col-sm-2.control-label(for="confirm_password") Confirm New Password
      .col-sm-10
        %input.form-control#current_password(type="password" name="confirm_password")
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default(type="submit") Change Password
